<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security">
<head th:replace="base :: headstuff"></head>
<body>
<div class="container">
    <div class="jumbotron">
    <form action="#" th:action="@{/process}" th:object="${message}" method="POST" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}"/>
        <input type="hidden" th:field="*{posteddate}"/>
        <input type="hidden" th:field="*{sentby}"/>

        <h3>Message:</h3> <br/>
            <textarea rows="3" cols="75" th:field="*{content}"/>
        <span th:if="${#fields.hasErrors('content')}"
              th:errors="*{content}"></span><br/>
        <input type="file" name="file"/><br/>
        <input class="btn btn-primary btn-lg" type="submit" role="button"/>
    </form>
    </div>
</div>
<nav th:replace="base :: footer"></nav>
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>