<!DOCTYPE html>
<html lang="en" xmlns:th="www.thymeleaf.org" xmlns:sec="www.thymeleaf.org/extras/spring-security"
      xmlns:border="http://www.w3.org/1999/xhtml">
<head th:replace="base :: headstuff"></head>

<body>
<nav th:replace="base :: navbar"></nav>
<div class="container">
    <div class="jumbotron">


        <div th:each="message : ${messages}" class="border border-dark">
            <span class="border border-dark">
             <h2 th:text="${message.content}"></h2>
                <div th:if="${message.image} != null">
                <img height="500" width="500" th:src="${message.image}"/><br/>
            </div>
            </span>
        </div>



        <p>
            <a class="btn btn-primary btn-lg" href="/add" role="button">Add a Message</a>
        <div sec:authorize="isAnonymous()">
            <a class="btn btn-primary btn-lg" href="/register" role="button">Register</a>
        </div>
        <div sec:authorize="isAuthenticated()">
            <a class="btn btn-primary btn-lg" href="/logout" role="button">Logout</a>
        </div>
        </p>
    </div>
</div>

<nav th:replace="base :: footer"></nav>
<th:block th:replace="base :: jslinks"></th:block>
</body>
</html>